@import "mixin.less";
html,body{
	font-family: @base-font;
	color: @base-text-color;
}
.netra{
	width: 960px;
}
.common{
	.divider {
		max-width: 300px;
		background-color: #f5f7f6;
		height: 4px;
		margin: 0 auto;
		margin-top: -58px;
		margin-bottom: 100px;
		position: relative;
	}
	.title{
		margin-top: -80px;
		margin-bottom: 90px;
		text-align: center;
		font-size: 36px;
		padding-top: 30px;
		font-family: @base-font2;
		text-transform: uppercase;
		font-weight: 600;
	}
	.divider:before {
		content: '';
		position: absolute;
		background-color: #40b876;
		width: 84px;
		height: 4px;
		left: 50%;
		margin-left: -42px;
	}
}
.heading{
	height: 600px;
	background-color: @base-color-green;
	//.gradient(left,#f43f20,#e47911);
	background-size: cover;
	margin-bottom: 100px;
	
	.netra-landing{
		text-align: left;
		margin-top: 100px;
		.left-side{
			width: 50%;
			float: left;
			.headline_tagline {
				max-width: 90%;
				font-size: 20px;
				font-family: @base-font;
				line-height: 35px;
				color: #fff;
				font-weight: 300;

			}
			h1{
				font-size: 48px;
				color: #fff;
				font-weight: 800;
				text-transform: uppercase;
			}

			.btn-outline-inverse{
				text-align: center;
				margin: 0 auto;
				color: #fff;
				background-color: transparent;
				border-color: #fff;
				margin-right:20px;
			}
			.btn-outline-inverse:hover{
				background: #fff;
				color:@base-color-green;
			}
		}
		.right-side{
			width: 50%;
			float: right;
			.mascott{
				background: url(http://zurb.com/ink/images/inky-all-devices.svg) no-repeat center center;
				background-size: cover;
				width: 500px;
				height: 580px;
				position: relative;
				top: -150px !important;

			}
		}
		
	}
}
.oddro-services{
	cursor: pointer;
	text-align: center;
	background-color: @base-color-grey;
	border-radius: 3px;
	padding: 0 22px;
	border-bottom: 6px solid;
	border-color:  #e0e0e0;
	padding-bottom: 36px;
	margin-bottom: 110px;
	h3{
		font-family: @base-font2;
		font-size: 30px;
		font-weight: 600;
		text-transform: uppercase;
	}
	p{
		margin: 0 0 10px;
	}
	img{
		margin-top: -78px;
		-webkit-transition: all 700ms;
		transition: all 700ms;
	}

}
.oddro-services:hover{
	border-color: @base-color-green;
}